# Data Cleaning with Pandas

Data cleaning is a crucial step in the data analysis process, ensuring that your dataset is accurate, complete, and ready for analysis. In this tutorial, we will explore various techniques for cleaning data using the Pandas library in Python.

## Introduction to Data Cleaning

Data cleaning involves identifying and rectifying errors, inconsistencies, and missing values within a dataset. It is essential for ensuring that data analyses yield accurate and reliable results. Common issues in datasets include:

- Missing values
- Duplicates
- Incorrect data types
- Inconsistent formatting

## Creating a Synthetic Dataset

Let's create a synthetic dataset with 100 entries to use throughout this tutorial. We will generate a DataFrame with various types of data, including numerical, categorical, and some missing values.

You can just pull up a random dataset as well.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Set a random seed for reproducibility
np.random.seed(42)

In [ ]:
# Creating a synthetic dataset
num_entries = 100
data = {
    'CustomerID': range(1, num_entries + 1),
    'Name': [f'Customer_{i}' for i in range(1, num_entries + 1)],
    'Age': np.random.randint(18, 70, size=num_entries).tolist(),
    'Gender': np.random.choice(['Male', 'Female'], size=num_entries).tolist(),
    'Income': np.random.randint(30000, 120000, size=num_entries).tolist(),
    'Purchase': np.random.choice([0, 1], size=num_entries).tolist()
}

In [ ]:
# Introduce some random missing values
for _ in range(10):  # Introduce 10 missing values randomly
    idx = np.random.randint(0, num_entries)
    data['Age'][idx] = np.nan

In [ ]:
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
# Introduce some duplicates
df = pd.concat([df, df.sample(5)])  # Add 5 duplicate rows
df

    CustomerID         Name   Age  Gender  Income  Purchase
0            1   Customer_1  56.0    Male   55939         0
1            2   Customer_2  69.0    Male   78925         0
2            3   Customer_3  46.0    Male   72941         0
3            4   Customer_4  32.0    Male   51834         0
4            5   Customer_5  60.0    Male   48047         0
..         ...          ...   ...     ...     ...       ...
34          35  Customer_35  33.0  Female   95318         1
30          31  Customer_31  66.0    Male   69353         0
37          38  Customer_38  68.0    Male   97172         0
2            3   Customer_3  46.0    Male   72941         0
83          84  Customer_84  32.0  Female   31802         1

[105 rows x 6 columns]

## Loading the Dataset
The synthetic dataset is already created in the previous section, so we can directly use the df DataFrame.

Else, you'd have to use:
```python
df = pd.read_csv('/content/2015.csv')
```

## Exploratory Data Analysis (EDA)
Before cleaning the data, it's essential to understand its structure and contents. We can use the following methods to gain insights:

In [ ]:
# Get a concise summary of the DataFrame
print("\nDataFrame Info:")
print(df.info())

# Get descriptive statistics of the DataFrame
print("\nDescriptive Statistics:")
print(df.describe())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 105 entries, 0 to 83
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  105 non-null    int64
 1   Name        105 non-null    object
 2   Age         96 non-null     float64
 3   Gender      105 non-null    object
 4   Income      105 non-null    int64
 5   Purchase    105 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.7+ KB
None

Descriptive Statistics:
       CustomerID        Age         Income    Purchase
count  105.000000  96.000000     105.000000  105.000000
mean    49.914286  43.427083   74194.590476    0.552381
std     28.996722  14.740381   26265.962085    0.499634
min      1.000000  19.000000   30854.000000    0.000000
25%     26.000000  32.000000   51976.000000    0.000000
50%     49.000000  41.500000   74262.000000    1.000000
75%     75.000000  56.250000   96199.000000    1.000000
max    100.000000  69.000000  119474.000000    1.000000

## Handling Missing Values
Missing values can significantly impact your analysis. Pandas provides several methods to handle them:

### Dropping missing values

In [ ]:
# Drop rows with any missing values
df_cleaned = df.dropna()

# Display the cleaned DataFrame
print("\nDataFrame after dropping missing values:")
print(df_cleaned)

DataFrame after dropping missing values:
    CustomerID         Name   Age  Gender  Income  Purchase
0            1   Customer_1  56.0    Male   55939         0
1            2   Customer_2  69.0    Male   78925         0
2            3   Customer_3  46.0    Male   72941         0
3            4   Customer_4  32.0    Male   51834         0
4            5   Customer_5  60.0    Male   48047         0
..         ...          ...   ...     ...     ...       ...
34          35  Customer_35  33.0  Female   95318         1
30          31  Customer_31  66.0    Male   69353         0
37          38  Customer_38  68.0    Male   97172         0
2            3   Customer_3  46.0    Male   72941         0
83          84  Customer_84  32.0  Female   31802         1

[96 rows x 6 columns]

### Filling missing values

In [ ]:
# Fill missing values with the mean of the 'Age' column
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Display the DataFrame after filling missing values
print("\nDataFrame after filling missing values:")
print(df)

DataFrame after filling missing values:
    CustomerID         Name   Age  Gender  Income  Purchase
0            1   Customer_1  56.0    Male   55939         0
1            2   Customer_2  69.0    Male   78925         0
2            3   Customer_3  46.0    Male   72941         0
3            4   Customer_4  32.0    Male   51834         0
4            5   Customer_5  60.0    Male   48047         0
..         ...          ...   ...     ...     ...       ...
34          35  Customer_35  33.0  Female   95318         1
30          31  Customer_31  66.0    Male   69353         0
37          38  Customer_38  68.0    Male   97172         0
2            3   Customer_3  46.0    Male   72941         0
83          84  Customer_84  32.0  Female   31802         1

[105 rows x 6 columns]

## Removing duplicate records
Duplicate records can skew your analysis. You can check for duplicates and remove them as follows:

In [ ]:
# Check for duplicate rows
duplicates = df.duplicated()
print(f"\nDuplicate rows: {duplicates.sum()}")

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Display the DataFrame after removing duplicates
print("\nDataFrame after removing duplicates:")
print(df)

Duplicate rows: 5

DataFrame after removing duplicates:
    CustomerID          Name        Age  Gender  Income  Purchase
0            1    Customer_1  56.000000    Male   55939         0
1            2    Customer_2  69.000000    Male   78925         0
2            3    Customer_3  46.000000    Male   72941         0
3            4    Customer_4  32.000000    Male   51834         0
4            5    Customer_5  60.000000    Male   48047         0
..         ...           ...        ...     ...     ...       ...
95          96   Customer_96  42.000000  Female  107371         1
96          97   Customer_97  43.427083  Female   32049         0
97          98   Customer_98  58.000000  Female   61616         1
98          99   Customer_99  43.427083  Female   50932         0
99         100  Customer_100  32.000000  Female   59855         1

[100 rows x 6 columns]

## Data Types and Conversion
Ensuring that your data types are correct is essential for accurate analysis. You can check and convert data types using:

In [ ]:
# Check data types
print("\nData Types:")
print(df.dtypes)

# Convert 'CustomerID' to string
df['CustomerID'] = df['CustomerID'].astype(str)

# Display the DataFrame with updated data types
print("\nData Types after conversion:")
print(df.dtypes)

Data Types:
CustomerID      int64
Name           object
Age           float64
Gender         object
Income          int64
Purchase        int64
dtype: object

Data Types after conversion:
CustomerID     object
Name           object
Age           float64
Gender         object
Income          int64
Purchase        int64
dtype: object

## Renaming Columns
This would just be to enhance readability an usability, feel free to skip this if required.

In [ ]:
# Rename columns
df.rename(columns={'CustomerID': 'ID', 'Income': 'Annual_Income'}, inplace=True)

# Display the DataFrame with renamed columns
print("\nDataFrame after renaming columns:")
print(df.head())

DataFrame after renaming columns:
  ID        Name   Age Gender  Annual_Income  Purchase
0  1  Customer_1  56.0   Male          55939         0
1  2  Customer_2  69.0   Male          78925         0
2  3  Customer_3  46.0   Male          72941         0
3  4  Customer_4  32.0   Male          51834         0
4  5  Customer_5  60.0   Male          48047         0

## Encoding categorical variables
Machine learning algorithms often require categorical variables to be encoded as numerical values. You can use the get_dummies() method for this.

In [ ]:
# Convert categorical variable into dummy/indicator variables
df_encoded = pd.get_dummies(df, columns=['Gender'], drop_first=True)

# Display the DataFrame with encoded variables
print("\nDataFrame with encoded categorical variables:")
print(df_encoded.head())

DataFrame with encoded categorical variables:
  ID        Name   Age  Annual_Income  Purchase  Gender_Male
0  1  Customer_1  56.0          55939         0         True
1  2  Customer_2  69.0          78925         0         True
2  3  Customer_3  46.0          72941         0         True
3  4  Customer_4  32.0          51834         0         True
4  5  Customer_5  60.0          48047         0         True

## Handling Outliers
Outliers can distort your analysis and should be handled appropriately. You can identify and remove outliers using statistical methods:

In [ ]:
# Identify outliers using the IQR method
Q1 = df['Annual_Income'].quantile(0.25)
Q3 = df['Annual_Income'].quantile(0.75)
IQR = Q3 - Q1

# Define upper and lower bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df_no_outliers = df[(df['Annual_Income'] >= lower_bound) & (df['Annual_Income'] <= upper_bound)]

# Display the DataFrame without outliers
print("\nDataFrame without outliers:")
print(df_no_outliers)

DataFrame without outliers:
     ID          Name        Age  Gender  Annual_Income  Purchase
0     1    Customer_1  56.000000    Male          55939         0
1     2    Customer_2  69.000000    Male          78925         0
2     3    Customer_3  46.000000    Male          72941         0
3     4    Customer_4  32.000000    Male          51834         0
4     5    Customer_5  60.000000    Male          48047         0
..  ...           ...        ...     ...            ...       ...
95   96   Customer_96  42.000000  Female         107371         1
96   97   Customer_97  43.427083  Female          32049         0
97   98   Customer_98  58.000000  Female          61616         1
98   99   Customer_99  43.427083  Female          50932         0
99  100  Customer_100  32.000000  Female          59855         1

[100 rows x 6 columns]

## Wrapping up

In this tutorial, we explored essential techniques for data cleaning using the Pandas library. We created a synthetic dataset with 100 entries and demonstrated how to handle missing values, remove duplicates, convert data types, rename columns, encode categorical variables, and manage outliers.

Data cleaning is a critical step in the data analysis process, and mastering these techniques will significantly enhance the quality of your analyses. As you work with more complex datasets, these foundational skills will serve you well.

Feel free to experiment with different datasets and cleaning techniques to deepen your understanding of data cleaning with Pandas!


### Running the Code

You can copy and paste the entire code into your Python environment or a Jupyter notebook. This code will create a synthetic dataset with 100 entries and demonstrate various data cleaning techniques using Pandas. Each section is designed to be run sequentially, allowing you to see the changes made to the dataset at each step. Enjoy your data cleaning journey!